@charset "UTF-8";
html{
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    ::selection{
      background-color: lightslategray;
      color: white;
    }
}

/*html, html[data-theme="light"], {
  --light-text-color: hsl(0, 0%, 35%);
  --main-background-color: hsl(0, 5%, 95%);
  --main-text-color: hsl(0, 0%, 0%);
}

html[data-theme="dark"] {
  --light-text-color: hsl(0, 0%, 60%);
  --main-background-color: hsl(0, 0%, 10%);
  --main-text-color: hsl(0, 10%, 80%);
}*/

html, body {
  height: auto;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 70%;
}

em img {
  max-width: 100%;
  margin-left: 0;
}

body {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrapper {
    max-width: -webkit-calc(1000px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(1000px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend .clearfix;
}

li{
  // Adding a custom size picture as bullet point
  padding: 2px 0 2px 30px;
  list-style: none;
  background-image: url("/assets/img/cube_purple.svg");
  background-repeat: no-repeat;
  background-position: 0% 4px;
  background-size: 14px;
  // margin: 10px 0;
  position: relative;
  // list-style-image: url("/assets/img/hexagon2.svg");
}
